
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="<%=basePath %>/">
    <meta charset="UTF-8">
    <title>西藏援藏系统</title>
    <link rel="stylesheet" href="/static/Css/public.css">
    <link rel="stylesheet" href="/static/Css/utibetDetail.css">

    <link rel="stylesheet" href="/static/editor/css/style.css"/>
    <link rel="stylesheet" href="/static/editor/css/editormd.css"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>
    <script src="/static/editor/js/jquery.min.js"></script>
    <script src="/static/editor/js/editormd.min.js"></script>

    <!--  markdown数据回显js代码  -->
    <script src="/static/editor/lib/marked.min.js"></script>
    <script src="/static/editor/lib/prettify.min.js"></script>
    <script src="/static/editor/lib/raphael.min.js"></script>
    <script src="/static/editor/lib/underscore.min.js"></script>
    <script src="/static/editor/lib/sequence-diagram.min.js"></script>
    <script src="/static/editor/lib/flowchart.min.js"></script>
    <script src="/static/editor/lib/jquery.flowchart.min.js"></script>

</head>
<body>
<!--页头-->
<header>
    <div class="content">
        <!--logo-->
        <img src="/static/Images/logo.png" alt="" class="logo">
        <!--导航-->
        <ul class="navLink">
            <li><a href="/main">首页</a></li>
            <li><a href="/index/work">援藏工作</a></li>
            <li><a href="/index/policy">援藏政策</a></li>
            <li><a href="/index/need">援藏需求</a></li>
            <li><a href="/index/process">援藏路径</a></li>
            <li><a href="/index/school">援藏高校</a></li>
            <!-- <li><a href="/index/work">工作动态</a></li> -->
            <li><a href="/index/adver">人员招聘</a></li>
        </ul>
        <!--登陆-->

        <th:block th:if="${session.loginUser == null}">
            <a href="/login.html" class="login"> <!--<span></span>-->登陆
            </a>
        </th:block>
        <th:block th:if="${session.loginUser != null}">
            欢迎您：
            <th:block th:text="${session.loginUser.userName}"></th:block>
            </th:text><a href="/user/index" class="login"> <!--<span></span>-->前往后台
        </a>
        </th:block>
    </div>
</header>
<!--内容-->
<div id="detail">
    <!--顶部面包屑-->
    <div class="crumbs content">
        <a href="/index/adver">人员招聘</a> <img src="/static/Images/right.png" alt="">
        <a th:href="@{'/index/toAdverShow?id=' + ${adver.id}}">招聘详情</a>
    </div>
    <div class="detail content">
        <div class="detail-left">
            <div class="detail-left-top" style="height: 100px;">
                <h1><th:block th:text="${adver.title}"></th:block></h1>
            </div>
            <div class="detail-left-bottom">
                <div id="content-editormd">
                        <textarea class="editormd-markdown-textarea" name="content" style="display: none;"><th:block
                                th:text="${adver.content}"></th:block></textarea>
                </div>
            </div>
        </div>
        <div class="detail-right">
            <h3>相似的项目</h3>
            <ul>
                <th:block th:each="advers : ${pageUtil.data}">
                    <li>
                        <h5
                                style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            <a th:href="@{'/index/toAdverShow?id=' + ${advers.id}}"><th:block th:text="${advers.title}"></th:block></a>
                        </h5>

                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</div>
<!--页脚-->
<footer>
    <div class="content">
        <div class="footer-blue">
            <img src="/static/Images/blue.png" alt="">
        </div>
        <div class="footerContent">
            <p>
                版权所有©西藏大学 藏ICP备05000064号 <a
                    style="height: 20px; line-height: 20px; text-decoration: none;"
                    target="_blank"
                    href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=54010202000088"><img
                    src="/static/Images/beiantubiao.png">藏公网安备54010202000088号</a>
            </p>
            <p>
                地址：西藏自治区拉萨市城关区藏大东路10号 邮政编码：850000 <img src="/static/Images/pic1.gif" alt="">
            </p>
            <p>达内时代科技集团提供技术支持</p>
        </div>
        <div class="QrCode">
            <img src="/static/Images/app.jpg" alt="">
        </div>
    </div>
</footer>
<script src="/static/Js/jquery.js"></script>

<script type="text/javascript">
    // 援藏历史数据回显
    $(function () {
        editormd.markdownToHTML("content-editormd", {
            htmlDecode: "style,script,iframe",

            emoji: true,
            taskList: true,
            tex: true, // 默认不解析
            flowChart: true, // 默认不解析
            sequenceDiagram: true, // 默认不解析
            codeFold: true
        });
    });

</script>
</body>
</html>