

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--<base href="${pageContext.request.contextPath}/" />-->
<title></title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/static/Css/bootstrap.css" />
<link rel="stylesheet" type="text/css"
	href="/static/Css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" href="/static/Css/style.css" />
<script type="text/javascript" src="/static/Js/jquery.js"></script>
<script type="text/javascript" src="/static/Js/bootstrap.js"></script>
<script type="text/javascript" src="/static/Js/ckform.js"></script>
<script type="text/javascript" src="/static/Js/common.js"></script>
<script type="text/javascript" charset="utf-8"
	src="/static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8"
	src="/static/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8"
	src="/static/ueditor/lang/zh-cn/zh-cn.js"></script>

<style type="text/css">
body {
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

@media ( max-width : 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}
</style>
</head>
<body>
	<form action="/user/add-user" method="post" class="definewidth m20">
		<table class="table table-bordered table-hover ">
			<tr>
				<td class="tableleft">管理员名称</td>
				<td><input type="text" id="userName" name="userName"/>
					<div style="display: none; color: red" id="message">用户名已存在！</div></td>
			</tr>
			<tr>
				<td class="tableleft">管理员密码</td>
				<td><input type="text" id="password" name="password"/></td>
			</tr>
			<tr>
				<td class="tableleft">所属学校</td>
				<td>
					<select id="schoolId" name="schoolId">
						<th:block th:each="school : ${schools}">
							<option th:value="${school.id}" > <th:block th:text="${school.schoolName}"></th:block></option>
							<!--<input type="text" id="schoolName" name="schoolName" th:value="${school.schoolName}"/>-->
						</th:block>
					</select>
				</td>
			</tr>
			<tr>
				<td class="tableleft">电话</td>
				<td><input type="text" id="tel" name="tel"/></td>
			</tr>
			<tr>
				<td class="tableleft">级别</td>
				<td><select id="role" name="role">
					<th:block th:each="auth : ${authAll}">
						<option th:value="${auth.roleName}" > <th:block th:text="${auth.roleName}"></th:block></option>
					</th:block>
						<!--<option value="1" selected="selected">1</option>-->
						<!--<option value="2">2</option>-->
						<!--<option value="3">3</option>-->
						<!--<option value="4">4</option>-->
						<!--<option value="5">5</option>-->
				</select></td>
			</tr>
			<tr>
				<td class="tableleft"></td>
				<td>
					<!--<button type="submit" id="submit-button" class="btn btn-primary">保存</button> &nbsp;&nbsp;-->
					<button id="submit-button" class="btn btn-primary" disabled="disabled">保存</button> &nbsp;&nbsp;
					<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
				</td>
			</tr>
		</table>
	</form>
</body>
<script type="text/javascript" src="/static/user/user-exist.js">
    //ajax请求后端判断所添加的管理员是否已近存在
</script>
</html>