<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdtu.yz.dao.MenuDao">

    <!--&lt;!&ndash;  添加用户信息  &ndash;&gt;-->
    <!--<insert id="insert" parameterType="com.cdtu.yz.entity.User">-->
        <!--insert into user-->
        <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
            <!--<if test="userName != null">-->
                <!--userName,-->
            <!--</if>-->
            <!--<if test="password != null">-->
                <!--password,-->
            <!--</if>-->
            <!--<if test="sex != null">-->
                <!--sex,-->
            <!--</if>-->
            <!--<if test="tel != null">-->
                <!--tel,-->
            <!--</if>-->
            <!--<if test="qq != null">-->
                <!--qq,-->
            <!--</if>-->
            <!--<if test="email != null">-->
                <!--email,-->
            <!--</if>-->
            <!--<if test="schoolId != null">-->
                <!--schoolId,-->
            <!--</if>-->
            <!--<if test="schoolName != null">-->
                <!--schoolName,-->
            <!--</if>-->
            <!--<if test="role != null">-->
                <!--role,-->
            <!--</if>-->
            <!--<if test="createTime != null">-->
                <!--createTime,-->
            <!--</if>-->
            <!--<if test="creator != null">-->
                <!--creator,-->
            <!--</if>-->
            <!--<if test="status != null">-->
                <!--status,-->
            <!--</if>-->
            <!--<if test="reserve != null">-->
                <!--reserve,-->
            <!--</if>-->
        <!--</trim>-->
        <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
            <!--<if test="userName != null">-->
                <!--#{userName},-->
            <!--</if>-->
            <!--<if test="password != null">-->
                <!--#{password},-->
            <!--</if>-->
            <!--<if test="sex != null">-->
                <!--#{sex},-->
            <!--</if>-->
            <!--<if test="tel != null">-->
                <!--#{tel},-->
            <!--</if>-->
            <!--<if test="qq != null">-->
                <!--#{qq},-->
            <!--</if>-->
            <!--<if test="email != null">-->
                <!--#{email},-->
            <!--</if>-->
            <!--<if test="schoolId != null">-->
                <!--#{schoolId},-->
            <!--</if>-->
            <!--<if test="schoolName != null">-->
                <!--#{schoolName},-->
            <!--</if>-->
            <!--<if test="role != null">-->
                <!--#{role},-->
            <!--</if>-->
            <!--<if test="createTime != null">-->
                <!--#{createTime},-->
            <!--</if>-->
            <!--<if test="creator != null">-->
                <!--#{creator},-->
            <!--</if>-->
            <!--<if test="status != null">-->
                <!--#{status},-->
            <!--</if>-->
            <!--<if test="reserve != null">-->
                <!--#{reserve},-->
            <!--</if>-->
        <!--</trim>-->
    <!--</insert>-->

    <!--&lt;!&ndash;  通过用户名查询用户的信息  &ndash;&gt;-->
    <!--<select id="getUserByName" parameterType="java.lang.String" resultType="com.cdtu.yz.entity.User">-->
        <!--select * from user where username = #{username}-->
    <!--</select>-->

    <!--&lt;!&ndash;  通过用户名查询用户的信息  &ndash;&gt;-->
    <!--<select id="getUserById" parameterType="java.lang.Integer" resultType="com.cdtu.yz.entity.User">-->
        <!--select * from user where id= #{id}-->
    <!--</select>-->

    <!--  查询所有的用户信息  -->
    <select id="getMenuAll" resultType="com.cdtu.yz.entity.Menu">
        select * from menu
    </select>

    <!--  通过角色的id查询出对应的菜单信息  -->
    <select id="selectMenuByRole" parameterType="java.lang.Integer" resultType="com.cdtu.yz.entity.Menu">
        SELECT menu.* FROM menu JOIN role_item ON role_item.menuId = menu.id WHERE role_item.roleId = #{roleId}
    </select>

    <!--&lt;!&ndash;  &ndash;&gt;-->
    <!--<select id="getUserPage" parameterType="com.cdtu.yz.common.PageUtil" resultType="com.cdtu.yz.entity.User">-->
        <!--select * from user limit #{start}, #{pageSize}-->
    <!--</select>-->

    <!--&lt;!&ndash;  修改用户信息  &ndash;&gt;-->
    <!--<update id="updateUser" parameterType="com.cdtu.yz.entity.User">-->
        <!--update user set-->
        <!--<trim prefix="" suffix="where id = #{id}" suffixOverrides=",">-->
            <!--<if test="userName != null">-->
                <!--userName=#{userName},-->
            <!--</if>-->

            <!--<if test="password != null">-->
                <!--password=#{password},-->
            <!--</if>-->
            <!--<if test="sex != null">-->
                <!--sex=#{sex},-->
            <!--</if>-->
            <!--<if test="tel != null">-->
                <!--tel=#{tel},-->
            <!--</if>-->
            <!--<if test="qq != null">-->
                <!--qq=#{qq},-->
            <!--</if>-->
            <!--<if test="email != null">-->
                <!--email=#{email},-->
            <!--</if>-->
            <!--<if test="schoolId != null">-->
                <!--schoolId=#{schoolId},-->
            <!--</if>-->
            <!--<if test="schoolName != null">-->
                <!--schoolName=#{schoolName},-->
            <!--</if>-->
            <!--<if test="role != null">-->
                <!--role=#{role},-->
            <!--</if>-->
            <!--<if test="createTime != null">-->
                <!--createTime=#{createTime},-->
            <!--</if>-->
            <!--<if test="creator != null">-->
                <!--creator=#{creator},-->
            <!--</if>-->
            <!--<if test="status != null">-->
                <!--status=#{status},-->
            <!--</if>-->
            <!--<if test="reserve != null">-->
                <!--reserve=#{reserve},-->
            <!--</if>-->
        <!--</trim>-->

    <!--</update>-->

    <!---->
    <!--&lt;!&ndash;  删除用户 &ndash;&gt;-->
    <!--&lt;!&ndash;并不真实的删除数据，将原表中的数据放到user_del表中， 在删除原来的数据&ndash;&gt;-->
    <!--<delete id="delUser" parameterType="com.cdtu.yz.entity.User">-->
        <!--delete from user where id = #{id}-->
    <!--</delete>-->

    <!--&lt;!&ndash;  添加删除的用户信息  &ndash;&gt;-->
    <!--<insert id="insertDel" parameterType="com.cdtu.yz.entity.User">-->
        <!--insert into user_del-->
        <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
            <!--<if test="userName != null">-->
                <!--userName,-->
            <!--</if>-->
            <!--<if test="password != null">-->
                <!--password,-->
            <!--</if>-->
            <!--<if test="sex != null">-->
                <!--sex,-->
            <!--</if>-->
            <!--<if test="tel != null">-->
                <!--tel,-->
            <!--</if>-->
            <!--<if test="qq != null">-->
                <!--qq,-->
            <!--</if>-->
            <!--<if test="email != null">-->
                <!--email,-->
            <!--</if>-->
            <!--<if test="schoolId != null">-->
                <!--schoolId,-->
            <!--</if>-->
            <!--<if test="schoolName != null">-->
                <!--schoolName,-->
            <!--</if>-->
            <!--<if test="role != null">-->
                <!--role,-->
            <!--</if>-->
            <!--<if test="createTime != null">-->
                <!--createTime,-->
            <!--</if>-->
            <!--<if test="creator != null">-->
                <!--creator,-->
            <!--</if>-->
            <!--<if test="status != null">-->
                <!--status,-->
            <!--</if>-->
            <!--<if test="createTime != null">-->
                <!--reserve,-->
            <!--</if>-->
        <!--</trim>-->
        <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
            <!--<if test="userName != null">-->
                <!--#{userName},-->
            <!--</if>-->
            <!--<if test="password != null">-->
                <!--#{password},-->
            <!--</if>-->
            <!--<if test="sex != null">-->
                <!--#{sex},-->
            <!--</if>-->
            <!--<if test="tel != null">-->
                <!--#{tel},-->
            <!--</if>-->
            <!--<if test="qq != null">-->
                <!--#{qq},-->
            <!--</if>-->
            <!--<if test="email != null">-->
                <!--#{email},-->
            <!--</if>-->
            <!--<if test="schoolId != null">-->
                <!--#{schoolId},-->
            <!--</if>-->
            <!--<if test="schoolName != null">-->
                <!--#{schoolName},-->
            <!--</if>-->
            <!--<if test="role != null">-->
                <!--#{role},-->
            <!--</if>-->
            <!--<if test="createTime != null">-->
                <!--#{createTime},-->
            <!--</if>-->
            <!--<if test="creator != null">-->
                <!--#{creator},-->
            <!--</if>-->
            <!--<if test="status != null">-->
                <!--#{status},-->
            <!--</if>-->
            <!--<if test="createTime != null">-->
                <!--#{reserve},-->
            <!--</if>-->
        <!--</trim>-->
    <!--</insert>-->


    <!--&lt;!&ndash;  查询菜单权限信息  &ndash;&gt;-->
    <!--<select id="getMenuByRoleName" parameterType="java.lang.String" resultType="com.cdtu.yz.entity.Menu">-->
        <!--SELECT menu.* from menu WHERE id in (SELECT menuId FROM role_item WHERE roleId = (SELECT id from role where roleName=#{role}))-->

    <!--</select>-->
</mapper>